.colone { width: 600px; }

.colone iframe { width: 350px; height: 500px; margin-right: 10px; }

.separateur { width: 5px; height: 1000px; background: black; margin-right: 40px; }

img { width: 400px;height: 400px; margin-top: 50px; border-radius: 4px; }

.colone { margin-left: 60px; }

.resume { display: flex;}

.colone p { width: 250px; }

.video  { text-align: center; margin-top: 70px;}

.right { margin-left: 60px; }

@media all and (max-width: 1024px)
{


	.resume {
		flex-direction: column;
	}

	.separateur { 
	display: none; }

	iframe { width: 350px; }

}


