body {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
}

.minimap {
  position: fixed;
  height: 100vh;
  background: #efefef;
  float: left;
}

.minimap iframe {
  position: absolute;
  top: 0;
  left: 0
  width: 100px;
  height: 100px;
}

.quartiers h1 {
  position: absolute;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 150px;
}

.quartiers-description {
  display: inline-block;
  margin-left: 150px;
  font-size: 23px;
  font-weight: 700;
}
