
.col-md-5 {
	background-color: #109FFF;
	height: 1000px;
	padding: 1px;
	margin-top: -20px;
	color: white;
}
.col-md-7 { height: 1000px; }

iframe { width: 400px;  height: 500px; padding-left: 2%; }

.container { text-align: center; }

h1,h3,ul,li { padding-left: 55px; }

a { color: white; }

img { width: 800px;  border-radius: 5px; box-shadow: 5px 3px 4px #a9b5c9; }

body { font-family: 'family=Poppins', Arial; }

.texteu { margin-top: 80px; width: 600px; }

@media all and (max-width: 1024px)
{

	img { width: 300px; height: 300px; }
}
