
.col-md-5 {
	background-color: #109FFF;
	height: 1000px;
	padding: 1px;
	color: white;
}
.col-md-7 { height: 1000px; background: white fixed; background-size: cover; overflow: auto; padding: 1px; }
.col-md-7 p { width: 600px; }

.col-md-7 iframe { width: 700px; margin-top: 60px; margin-left: 6%; }
iframe { width: 60%;  height: 600px;}

.container { text-align: center; }

h1,h3,ul,li { padding-left: 55px; }

a { color: white; }

img { width: 400px;  border-radius: 5px; box-shadow: 5px 3px 4px #a9b5c9; float: left; }

body { font-family: 'family=Poppins', Arial; }

.texteu { margin-top: 80px; width: 600px; }

@media all and (max-width: 1024px)
{

	img { width: 300px; height: 300px; }
	iframe { width: 100%; }
	.jumbotron iframe { width: 400px;}
	.jumbotron p { width: 400px; }
	.jumbotron button { margin-left: 40%; }
}
.jumbotron { padding: 1px; margin: 0px; }
.jumbotron p { margin-left: 6%; margin-top: 40px; }

.navbar-default { margin: 0; }

button { margin-top: 50px; }