
.col-md-5 {
	background-color: #109FFF;
	height: 1000px;
	padding: 1px;
	color: white;
}
.col-md-7 { height: 1000px; padding: 1px; }


.col-md-7 iframe { width: 700px; margin-top: 60px; margin-left: 6%; height: 400px; }
iframe { width: 60%;  height: 910px;}


h1,h3 { padding-left: 55px; }


img { width: 400px;  border-radius: 5px; box-shadow: 5px 3px 4px #a9b5c9; margin-left: 28%; }

body { font-family: 'family=Poppins', Arial; }
.text { margin-top: 70px; }
footer { height: 150px;background: #109FFF;width: 100%; }


@media all and (max-width: 1024px)
{
	.col-md-5 { height: 450px; }
	img { width: 300px; height: 300px; }
	iframe { width: 100%; height: 400px; }
	.jumbotron iframe { width: 400px;}
	.jumbotron p { width: 400px; margin: center; }
	.jumbotron button { margin-left: 40%; }
	body { text-align: center;  }
	.jumbotron { background-color: white; }
	h1,h3 { padding-left: 0px; }


}
.jumbotron { padding: 1px; margin: 0px; height: 1000px;overflow: auto; }
.navbar-default { margin: 0; }

button { margin-top: 50px; }
